<div ng-cloak>
	<ol class="breadcrumb ng-scope">
		<li><a href="#/users">Users</a></li>
		<li class="active">Create Local User</li>
	</ol>
	<hr class="ng-scope">
	<form
		class="form-horizontal create-user-form ng-scope ng-pristine ng-invalid ng-invalid-required"
		role="form" novalidate="" name="form" autocomplete="off">
		<div class="form-group"
			ng-class="{'has-error' : form.user_name.$error.required &amp;&amp; form.submitted}">
			<label for="username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" id="username"
					class="form-control username-input ng-pristine ng-invalid ng-invalid-required"
					name="user_name" placeholder="User name" ng-model="user.user_name"
					required="" autocomplete="off">
				<div class="alert alert-danger top-margin ng-hide"
					ng-show="form.user_name.$error.required &amp;&amp; form.submitted">
					This field is required.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">Type</label>
			<div class="col-sm-10">
				<label for="" class="control-label">Local</label>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">Status</label>
			<div class="col-sm-10">
				<div class="switch-primary userstatus ats-switch ng-isolate-scope"
					ng-click="toggle()" ng-class="{ 'disabled': disabled }"
					model="user.active" on-label="Active" off-label="Inactive"
					data-off-color="danger">
					<div class="switch-animate switch-off"
						ng-class="{'switch-off': !model, 'switch-on': model}">
						<span class="switch-left ng-binding ng-scope" ng-bind="onLabel">Active</span><span
							class="knob ng-binding ng-scope" ng-bind="knobLabel">&nbsp;</span><span
							class="switch-right ng-binding ng-scope" ng-bind="offLabel">Inactive</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label"><span
				class="glyphicon glyphicon-flash"></span>Ambari Admin</label>
			<div class="col-sm-10">
				<div class="switch-primary userstatus ats-switch ng-isolate-scope"
					ng-click="toggle()" ng-class="{ 'disabled': disabled }"
					ng-disabled="isCurrentUser" model="user.admin" on-label="Yes"
					off-label="No" data-off-color="danger">
					<div class="switch-animate switch-on"
						ng-class="{'switch-off': !model, 'switch-on': model}">
						<span class="switch-left ng-binding ng-scope" ng-bind="onLabel">Yes</span><span
							class="knob ng-binding ng-scope" ng-bind="knobLabel">&nbsp;</span><span
							class="switch-right ng-binding ng-scope" ng-bind="offLabel">No</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group"
			ng-class="{'has-error' : (form.password.$error.required &amp;&amp; form.submitted) || form.confirmPassword.$error.passwordVerify}">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password"
					class="form-control bottom-margin userpassword ng-pristine ng-invalid ng-invalid-required"
					name="password" placeholder="Password" required=""
					ng-model="user.password" autocomplete="off"> <input
					type="password"
					class="form-control bottom-margin userpasswordconfirm ng-isolate-scope ng-pristine ng-invalid ng-invalid-required ng-valid-password-verify"
					name="confirmPassword" placeholder="Password confirmation"
					required="" ng-model="user.passwordConfirmation"
					password-verify="user.password" autocomplete="off">

				<div class="alert alert-danger ng-hide"
					ng-show="form.confirmPassword.$error.passwordVerify">
					Password must match!</div>
				<div class="alert alert-danger ng-hide"
					ng-show="form.password.$error.required &amp;&amp; form.submitted">
					Password required!</div>

			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary pull-right left-margin saveuser"
					ng-click="createUser()">Save</button>
				<a class="btn btn-default pull-right cancel" href=""
					ng-click="cancel()">Cancel</a>
			</div>
		</div>

	</form>
</div>
